.sidebar {
	height: 100vh;
	width: 72px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	position: sticky;
	top: 0;
	padding: 16px 0;
	border: 1px solid #e9e9e9;
}

.menu-icons {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 24px;
}

.logo {
	height: 24px;
	width: 24px;
}

.menu-icon {
	height: 48px;
	width: 48px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.menu-icon:hover {
	border-radius: 16px;
	background: #f1f1f1;
}
